.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .user-menu {
    position: relative;
    cursor: pointer;
  }
  
  .user-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #ddd;
  }
  
  .dropdown-content {
    position: absolute;
    top: 40px; /* Reduced top property to decrease space */
    right: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 400px; /* Increased dropdown width */
    border-radius: 8px;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
  }
  
  .user-details {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .dropdown-user-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #ddd;
  }
  
  .user-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 15px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-content a:hover {
    background-color: #e5dcdc;
  }
  