body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  height: 100vh;
  margin-top: 50px; /* Adjust the top margin to the height of the header */
}

.side-panel {
  width: 200px;
  background-color: #f4f4f4; /* Ensure the side panel color matches the header */
  height: calc(100vh - 50px); /* Adjust the height to account for the header */
  position: fixed;
  top: 50px; /* Align with the bottom of the header */
  left: 0;
  z-index: 999; /* Ensure it's below the header */
}


.content {
  margin-left: 242px; /* Adjust this margin to match the width of the side panel */
  padding: 20px;
  background-color: #f4f4f4; /* Light gray background for content area */
  overflow-y: auto; /* Allow content to be scrollable if needed */
  font-size: 16px; /* Slightly increased font size */
  flex-grow: 1;
  margin-top: 0; /* Remove any margin-top */
  
}
